<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>CMS Bootstrap for Python</title>

    <!-- Load page specific CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

    <!-- Load cms-ui in <head> to avoid flickering. -->
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/@ridi/cms-ui/dist/cms-ui.var.js') }}"></script>
  </head>
  <body>
    <div id="menu_container"></div>
    <div id="content">{{ content }}</div>

    <script type="text/javascript">
      const { createElement, render, Menu } = CmsUi;

      // Create element with Menu component and its properties.
      const menuElement = createElement(Menu, {
        items: {{ menu_data | tojson }}, // Inject menu data using server-side rendering.
      });

      const menuContainer = document.getElementById('menu_container');

      // Make sure to container DOM element is loaded before call render function.
      render(menuElement, menuContainer);
    </script>
  </body>
</html>
